body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-color: #E9EBEE;
}

.left {
    float: left;
    width: 80%;
    min-height: 500px;
}

.right {
    float: right;
}

.card {
    width: 250px;
    height: 350px;
    padding: 10px;
    border:solid 1px darkgrey;
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;
    font-size: 22px;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
    margin: 5px;
    background-color: white;
}

    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
    }

.card-question {
    background-color: black;
    color: white;
}

.card-hand {
    cursor: pointer;
}

    .card-hand.selected {
        background-color: lightgray;
    }

.card-vote {
    cursor: pointer;
}

    .card-vote.selected {
        background-color: lightgray;
    }

    .card-vote.winning-card {
        background-color: gold;
    }

.cover {
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
}

.login {
    display: block;
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
}

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
}

    .btn:focus, .btn:active:focus, .btn.active:focus {
        outline: 0 none;
    }

.btn-create {
    background: #0099cc;
    color: #ffffff;
}

    .btn-create:hover, .btn-create:focus, .btn-create:active, .btn-create.active, .open > .dropdown-toggle.btn-create {
        background: #33a6cc;
    }

    .btn-create:active, .btn-create.active {
        background: #007299;
        box-shadow: none;
    }

.text-centre {
    text-align: center;
}

#start {
    cursor: pointer;
}

.hidden {
    display: none;
}

@media screen and (max-width: 600px) {

    .card-hand {
        margin-top: -225px;
    }

        .card-hand:first-child {
            margin-top: 0;
        }
}
