@section scripts{
    <script>
        $(function () {
            $("#create-game").click(function () {
                window.location = "@Url.Action("createnew")";
            });

            $("#join-game").click(function () {
                var roomCode = $("#room-code").val();

                if (roomCode === "" || roomCode === null) {
                    // show required message
                    return;
                }

                if (roomCode.length !== 4) {
                    // show message saying the room code must be 4 characters long
                    return;
                }

                window.location = "@Url.Action("play")?room=" + roomCode;
            });
        });
    </script>
}

<div class="block-centre">
    <h1 class="text-centre">Humanity Against Cards</h1>
    <button id="create-game" type="button" class="btn btn-create">Create Game</button>
    <p class="text-centre">OR</p>
    <label for="room-code">Room Code</label>
    <input id="room-code" type="text" />
    <button id="join-game" type="button" class="btn btn-join">Join Game</button>
</div>