@using Game;
@inject NavigationManager navigationManager
@page "/"

@if (!gameClient.IsConnected) {
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <h1>Humanity Against Cards</h1>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" @bind-value="name">
                </div>
                <div class="form-group">
                    <label for="code">Code</label>
                    <input type="text" class="form-control" id="code" @bind-value="roomCode">
                </div>
                <div class="row">
                    <div class="col">
                        <button class="btn btn-success btn-block" @onclick="StartGame">Create</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-primary btn-block" @onclick="JoinGame">Join</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

} else {
    <button class="btn btn-primary" @onclick="LeaveGame">Leave</button>
    <p>Code: @gameClient.Code</p>
    @foreach (var player in players) {
        <p>@player</p>
    }
}

@code {
    private string name;
    private string roomCode;
    private GameClient gameClient;
    private IList<string> players = new List<string>();

    protected override void OnInitialized() {
        gameClient = new GameClient(navigationManager);

        gameClient.PlayerJoined += (player) => {
            players.Add(player.Name);
            StateHasChanged();
        };

        gameClient.ConnectionChanged += (s, e) => {
            StateHasChanged();
        };

        base.OnInitialized();
    }

    private async void StartGame() {
        await gameClient.CreateGame(name);
        StateHasChanged();
    }

    private async void JoinGame() {
        await gameClient.JoinGame(name, roomCode);
        StateHasChanged();
    }

    private async void LeaveGame() {
        await gameClient.LeaveGame();
        StateHasChanged();
    }
}
