@using Game;
@inject NavigationManager navigationManager
@page "/"

<h1>SignalR Test</h1>

@foreach (var item in messages) {
    <p>@item</p>
}

<button @onclick="start">Start</button>
<button @onclick="stop">Stop</button>

@code {
    private List<string> messages = new List<string>();
    private GameClient gameClient;

    protected override void OnInitialized() {
        gameClient = new GameClient(navigationManager);
        gameClient.MessageReceived += (s, e) => {
            messages.Add(s.ToString());
            StateHasChanged();
        };

        base.OnInitialized();
    }

    private async void start() {
        await gameClient.StartAsync();
    }

    private async void stop() {
        await gameClient.StopAsync();
    }
}
