@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

body {
    font-family: 'Helvetica','Arial',sans-serif;
    background-color: #e9ebee;
}

img {
    width: 100%;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

#loading-screen {
    width: 400px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40vh;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

    #loading-screen img {
        width: 200px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

.starter-block {
    margin-top: 20vh;
    max-width: 90%;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.hr-sect {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: rgba(0, 0, 0, 0.35);
    margin: 8px 0px;
}

    .hr-sect::before, .hr-sect::after {
        content: "";
        flex-grow: 1;
        background: rgba(0, 0, 0, 0.35);
        height: 1px;
        font-size: 0px;
        line-height: 0px;
        margin: 0px 8px;
    }

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.hac-card {
    width: 250px;
    height: 350px;
    padding: 10px;
    border: solid 1px #a9a9a9;
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;
    font-size: 22px;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.5);
    transition: .3s;
    margin: 5px;
    background-color: white;
    position: relative;
}

    .hac-card.dark {
        background-color: black;
        color: white;
    }

    .hac-card input[type="text"] {
        background: rgba(0, 0, 0, 0);
        border: none;
        outline: none;
        border-bottom: white 1px solid;
        color: white;
        font-size: 22px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .hac-card .hac-card-footer {
        font-family: 'Orbitron',sans-serif;
        color: #fff;
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 10px;
    }