@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

#loading-screen {
    width:200px;
    margin-left:auto;
    margin-right:auto;
    margin-top:40vh;
}

img {
    width:100%;
}