@page "/"

<div class="starter-block card">
    <div class="card-body">
        <h1 class="card-title text-center">Humanity Against Cards</h1>
        <hr />
        <button class="btn btn-block btn-primary">Create Game</button>
        <div class="hr-sect">
            OR
        </div>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Room Code..." aria-label="Room Code..." aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-success" type="button">Join</button>
            </div>
        </div>
    </div>
</div>